#displayPageOrder{
    height: 100%;
}
#cartEmpty{
    text-align: center;
    margin: 50px;
}
#pageOrder{
    display: flex;
    height: 100%;
}
#displayCart{
    width: 40%;
    min-width: 350px;
    background: linear-gradient(to left,#ffcc99 0%,#c91a8e 100%);
    overflow: auto;
    color: white;
    text-align: center;
}
.divitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ffffff 30%, #009900 100%);
    color: rgb(15, 15, 15);
    padding: 5px;
    margin: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.displayItem{
    width: 100%;
}
.itemName{
    text-align: center;
    padding:0 5px;
}
.itemPriceQuantity{
    display: flex;
    justify-content: space-around;
}
#totalandbtn{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-top: 1px rgb(187, 184, 184) solid;
    padding: 10px;
}
#totalandbtn a{
    color: white;
}
.imgItem{
    height: 70px;
    width: auto;
    margin-top: 10px;
    margin-left: 3px;
}
.nochange{
    font-size: 14px;
    font-weight: 800;
    color: white;
}
#displayFormOrder{
    background-image: url("imgs/pay.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
#displayFormOrder form{
    background-color: rgba(236, 14, 133, 0.585);;
    padding: 60px;
    color: white;
    margin-left: 1.5%;
}
#displayFormOrder form h3{
    text-align: center;
}
#displayFormOrder form div{
    display: flex;
    align-items: center;
}
#displayFormOrder form div label{
    display: block;
    width: 100px;
}
#displayFormOrder form input,#displayFormOrder form select,#displayFormOrder form option{
    height: 30px;
    width: 180px;
}
#btnSubmitOrder{
    display: block;
    margin: auto;
    color: black;
    background: linear-gradient(to top,#006600 -7%,#ccff99 57%);
}
#errorDate{
    color: rgb(174, 14, 14);
    text-align: center;
    height: 26px;
    font-size: 14px;
    max-width: 280px;
    margin: 11px;
}
#popupSuccess{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
#popupSuccess div{
    background: linear-gradient(to bottom, #ff3399 0%, #ffcc99 100%);
    border-radius: 5px;
    padding: 40px;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#popupSuccess h3 a{
    color: black;
}
#btnThank{
    display: block;
    background: linear-gradient(to top, #00cc00 0%, #006600 100%);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    width: 150px;
    margin: auto;
}
#titleAndSearch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px 15px 10px;
    padding-bottom: 10px;
    border-bottom: 1px rgb(221, 220, 220) solid;
}
#search{
    height: 30px;
    border-radius: 5px;
    border: 1px rgb(165, 162, 162) solid;
    padding-left: 5px;
    outline: none;
    background: linear-gradient(to bottom,#ffff99 2%,#ff99cc 107%);
}

#adress{
    text-align: center;
    background: linear-gradient(to bottom,#ffff99 2%,#ff99cc 107%);
}

#date {
    text-align: center;
    background: linear-gradient(to bottom,#ffff99 2%,#ff99cc 107%);
}

#city {
    background: linear-gradient(to bottom,#ffff99 2%,#ff99cc 107%);
}

.card {
    background: linear-gradient(to bottom,#ffff99 2%,#ff99cc 107%);
    text-align: center;
}





