/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Kaushan+Script&display=swap" rel="stylesheet');
*{
    font-family: 'Festive', cursive;
    font-family: 'Kaushan Script', cursive; 
    margin: 0;
    padding: 0;
}

.highlight {
    background-color: yellow;
}