#cartCategorys{
    display: flex;
    height: 100%;
}
#cart{
    background: linear-gradient(to left, #ffcc99 0%, #c91a8e 100%);
    text-align: center;
    color: black;
    height: 100%;
    overflow-y: auto;
    width: 15%;
    min-width: 350px;
}

#categorys{
    background-image: url('imgs/welcome.png');
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
#resizeCart{
    background-color: #c91a8e;
}

#resizeCart div{
    width: 40px;
    text-align: center;
    height: 16.4%;
    border-radius: 0 10px 10px 0;
    margin-top: 10px;
    background-image: url('imgs/cart2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px auto;
}
#resizeCart div:hover{
    cursor: pointer;
    background-color: rgb(224, 115, 151);
    border-radius: 0 10px 10px 0;
    margin-top: 10px;

}