#homeshop{
    text-align: center;
    padding: 20px;
    line-height: 100%;
}
#homeshop h2{
    margin: 20px;
}
#imgHomeShop{
    width: 200px;
    height: 200px;
    background-image: url('img/open.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border: 4px rgb(247,203,110) solid;
}
#homeshop p{
    font-size: 18px;
    margin: 20px;
}