<div class="btnShop" (click)="goToShop()" class='{{classBtn}}'>
    {{buttonShop}}
</div><br>

<div class="loginform">
    <p class="logintitle">Login</p>
    <div class="displayError">{{displayError}}</div>
    <form [formGroup]="dataLogin" (ngSubmit)="verifyLogin()">
        <input type="email" class="placeTwo" placeholder="email" formControlName="mail"><br><br>
        <input type="password" class="place" placeholder="password" formControlName="password"><br><br>
        <input type="checkbox" name="keepme" id="keepme" checked="true" formControlName="keepme"><label
            for="keepme">keep me logged in</label><br><br>
        <input type="submit" class="loginbtn" value="Login" [disabled]="!dataLogin.valid"><br><br>
        <div><a class="linkSignup" routerLink="/signup">Sign up</a></div>
    </form>
</div>