<br>
<div id="homeInfo">
    <h2>In our store</h2><br>
    <div class="displayCount">
        <div class="numDisplay" *ngFor="let num of countProducts">{{num}}</div>
    </div>
    <p>available products</p><br>

    <div class="displayCount">
        <div class="numDisplay" *ngFor="let num of countOrders">{{num}}</div>
    </div>
    <p>orders submitted</p><br><br><br>
    <div *ngIf="toHomeInfo.message" class="notif">
        <h3>Hello {{toHomeInfo.name}}</h3><br>
        <div *ngIf="toHomeInfo.message[0].cart_id">You have open cart from<br>{{toHomeInfo.message[0].cart_date.split('T')[0]}}</div>
    </div>
</div>