#homeInfo{
    text-align: center;
}
#homeInfo p{
    color: white;
    font-size: 18px;
}
.displayCount{
    display: flex;
    justify-content: center;
}
.numDisplay{
    width: 35px;
    height: 45px;
    background: linear-gradient(to top, #000066 15%, #ffccff 100%);
    color: rgb(255, 181, 44);
    text-align: center;
    padding-top: 12px;
    font-size: 30px;
    margin: 2px;
    border-radius: 4px;
    border: 1px rgb(223, 223, 223) solid;
}

.notif{
    margin: 0 20px;
    padding: 15px;
    border: 4px rgb(247, 203, 110) solid;
    background: linear-gradient(to bottom, #cc3399 0%, #ffcc00 100%);
}