
   
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div id="adminpage" *ngIf="ifDisplay">
<div id="categorysSearch">
    <div id="categorys">
        <div *ngFor="let category of categorys" id="{{category.category_id}}"
            (click)="changeCategory(category.category_id,'Category '+category.category_name)" class="category">{{category.category_name}}</div>
    </div>
    <form id="searchProduct" (submit)="search()">
        <input type="search" name="search" id="search" [(ngModel)]="theSearch" placeholder="search products">
        <input type="submit" id="btnSearch" value="Search">
    </form>
    <div id="addProduct" (click)="openPopupAdd()">+ Add product</div>
</div>
<h3 id="messageHere">{{messageHere}}</h3>
<div *ngIf="categoryProducts" id="catpro">
    <div *ngFor="let product of products" class="product" >
        <img src="{{GlobalyPathInto}}/products-imgs/{{product.img}}" alt="" class="productImg">
        <br>
        <div class="productPrice">{{product.price}} ₪</div>
        <div>{{product.product_name}}</div>
        <button (click)="openPopupAdd(product)" class="btnModify">modify</button>
    </div>
</div>

<div *ngIf='ifPopupAdd' id="backgroundPopup" (click)='closePopupAdd($event)'>
    <div id="popup">
        <div class="deleteCross" (click)="closePopupAdd('blah',true)">X</div>
        <label for="addimg"><img src="{{pathImgPopup}}" alt="" class="prodimg" title="Add Image"><input type="file" name="file" id="addimg" style="display:none;" accept="image/*" (change)="imgFile($event)"></label>
        <form [formGroup]="newProduct" (ngSubmit)="addProduct()">
            <div><label for="nameAdd">name: </label><input type="text" id="nameAdd" formControlName="product_name"></div><br>
            <div><label for="priceAdd">price: </label><input type="number" id="priceAdd" value="" formControlName="price"></div><br>
            <div>
                <label for="categoryEditAdd">Category: </label>
                <select name="categoryEditAdd" id="categoryEdit" formControlName="category_id">
                    <option *ngFor="let category of categorys" value="{{category.category_id}}">{{category.category_name}}</option>
                </select>
            </div><br>
            <br><br>
            <input *ngIf="!ifModify" type="submit" value="Add New Product" id="addNewProduct" [disabled]="!newProduct.valid">
            <input *ngIf="ifModify" type="submit" value="Modify Product" id="ModifyProduct" [disabled]=" !newProduct.valid">
        </form>
    </div>
</div>
</div>